doctype html
html
  head
    title= title
    link(rel="stylesheet", type="text/css", href="/stylesheets/landingPage.css")
  body
    div(id="topnavbar")
      a(href="/signup") Sign Up
      a(href="/login") Log In
