doctype html
html
  head
    title="Activity Manager: Log In!"
    link(rel="stylesheet", type="text/css", href="/stylesheets/login.css")
    script(src="/javascripts/cli/lib/jquery.min.js")
    script(src="/javascripts/cli/login_signup.js")
  body
    div(id="loginfrm")
      div(id="logoimg")
        div
      div(id="loginfrm")
        h1
          center="Log In!"
        form(method="POST", action="/login/auth")
          input(type="text", name="uname", placeholder="Username")
          input(type="password", name="passwd", placeholder="Password")
          input(type="submit", value="Log In!")
          label="Stay Logged In?"
            input(type="checkbox", value="true", name="stayLoggedIn")
      div(id="extra")
        a(href="/forgot") Forgot Your Password?
        a(href="/signup") Sign Up Instead?
        a(href="/") Home
