body > #topnavbar
{
  position: fixed;
  top: 0px;
  right: 0px;
  height: 48px;
  text-align: right;
  padding-left: 8px;
}

body > #topnavbar > a
{
  display: inline-block;
  min-width: 96px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #404040;
  text-align: center;
  line-height: 40px;
  margin-top: 8px;
  margin-right: 4px;
  border-radius: 4px;
  background-color: #E0E0E0;
  color: #000000;
  text-decoration: none;
}

body > #topnavbar > a:hover,
body > #topnavbar > a:active
{
  background-color: #404040;
  color: #C6C6C6;
}

